@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --clr-main: #4b33a8;
    --clr-white: #ececec;
    --clr-gray: #ecf0f2;
    --clr-secondary: #8F9B9D;
    --clr-blue: rgb(43,52,132,0.9);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.n{
    z-index: 100000;
    position: fixed;
    width: 100%;
}

.navegador{
    background-color: var(--clr-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20PX;
    padding-left: 10%;
    padding-right: 10%;
    transition: 1s;
}

.logo{
    height: auto;
    width: 24rem;
}

.navegador ul li{
    margin-top: 1.42rem;
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.navegador ul li a{
    color: var(--clr-main);
    text-decoration: none;
    font-weight: bold;
}

.navegador ul li a:hover{
    color: var(--clr-secondary);
    transition: .4s;
}

/*CAROUSEL */
.carousel-image {
    float: left;
    width:  100px;
    height: 12px;
    object-fit: cover;
  }
  
.carousel{
  background-color: #FFFFFF;
}
