.contenedor{
    padding: 12%;
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servicio{
    position:inherit;
    width: 28%;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    text-align: center;
    transition: all 400ms ease;
    padding-bottom: 1rem;
}

.servicio:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.servicio img{
    height: auto;
    width: 100%;
}

.contenedor-producto {
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productos-categoria {
    position: relative;
    width: 24.567vw;
}

.productos-categoria img {
    width: 100%;
    height: 35vh;
    transition: width 0.3s ease; /* Add transition for smooth effect */
}

.productos-categoria h3 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; /* Add a transparent background */
    z-index: 2; /* Increase the z-index to ensure the text is above the image */
}

.productos-categoria:hover {
    z-index: 1000;
}

.productos-categoria:hover img {
    width: 25vw;
    z-index: 1; /* Reduce the z-index of the image to make it behind the text */
}
